-- Project-local Neovim configuration example
-- Copy this file to your project root as `.nvim.lua`
-- This file allows you to customize Neovim settings per project

--------------------------------------------------------------------------------
-- ESLint LSP Configuration (for projects using @antfu/eslint-config or similar)
-- https://github.com/antfu/eslint-config?tab=readme-ov-file#neovim-format-on-save
--------------------------------------------------------------------------------

-- Full ESLint configuration with extended file type support
-- Uncomment and customize based on your project needs

--[[
local lspconfig = require("lspconfig")

lspconfig.eslint.setup({
  filetypes = {
    "javascript",
    "javascriptreact",
    "javascript.jsx",
    "typescript",
    "typescriptreact",
    "typescript.tsx",
    "vue",
    "html",
    "markdown",
    "json",
    "jsonc",
    "yaml",
    "toml",
    "xml",
    "gql",
    "graphql",
    "astro",
    "svelte",
    "css",
    "less",
    "scss",
    "pcss",
    "postcss",
  },
  settings = {
    rulesCustomizations = {
      { rule = "style/*", severity = "off", fixable = true },
      { rule = "format/*", severity = "off", fixable = true },
      { rule = "*-indent", severity = "off", fixable = true },
      { rule = "*-spacing", severity = "off", fixable = true },
      { rule = "*-spaces", severity = "off", fixable = true },
      { rule = "*-order", severity = "off", fixable = true },
      { rule = "*-dangle", severity = "off", fixable = true },
      { rule = "*-newline", severity = "off", fixable = true },
      { rule = "*quotes", severity = "off", fixable = true },
      { rule = "*semi", severity = "off", fixable = true },
    },
  },
})
--]]

--------------------------------------------------------------------------------
-- Other Examples
--------------------------------------------------------------------------------

-- Example 1: Disable ESLint LSP completely for this project
-- vim.api.nvim_create_autocmd("LspAttach", {
--   callback = function(args)
--     local client = vim.lsp.get_client_by_id(args.data.client_id)
--     if client and client.name == "eslint" then
--       vim.lsp.stop_client(client.id)
--     end
--   end,
-- })

-- Example 2: Disable ESLint for specific file types (like .less files)
-- vim.api.nvim_create_autocmd("FileType", {
--   pattern = { "less", "css", "scss" },
--   callback = function()
--     local clients = vim.lsp.get_active_clients({ name = "eslint" })
--     for _, client in ipairs(clients) do
--       vim.lsp.stop_client(client.id, true)
--     end
--   end,
-- })

-- Example 3: Project-specific editor settings
-- vim.opt_local.tabstop = 4
-- vim.opt_local.shiftwidth = 4

-- Example 4: Project-specific key mappings
-- vim.keymap.set("n", "<leader>pt", ":!npm test<CR>", { desc = "Run tests" })
