# Yazi configuration
# https://yazi-rs.github.io/docs/configuration/yazi

[manager]
ratio = [1, 4, 3]
sort_by = "natural"
sort_sensitive = false
sort_reverse = false
sort_dir_first = true
linemode = "size"
show_hidden = true
show_symlink = true

[preview]
tab_size = 2
max_width = 1000
max_height = 1000

[opener]
edit = [
  { run = 'nvim "$@"', block = true, for = "unix" },
]
open = [
  { run = 'open "$@"', for = "macos" },
]

[open]
rules = [
  { mime = "text/*", use = "edit" },
  { mime = "application/json", use = "edit" },
  { mime = "*/javascript", use = "edit" },
  { name = "*.lua", use = "edit" },
  { name = "*.md", use = "edit" },
  { name = "*.yml", use = "edit" },
  { name = "*.yaml", use = "edit" },
  { name = "*.toml", use = "edit" },
  { name = "*", use = "open" },
]
